<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>
<form data-th-action="@{/login}" method='POST'>
    <table>
        <tr>
            <td>User:</td>
            <td><input name='username'/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>

    <input type="hidden" data-th-name="${_csrf.parameterName}"
           data-th-value="${_csrf.token}"/>
</form>

<p>username: admin@example.com, password: admin</p>
<p>username: mod1@example.com, password: mod1</p>
<p>username: mod2@example.com, password: mod2</p>

</body>
</html>